@model CalibreLib.Models.SearchModel
@using CalibreLib.Views.Shared.Components;
@inject CalibreLib.Data.ShelfRepository _shelfRepository
@inject CalibreLib.Models.Metadata.MetadataDBContext _metadataDBContext

<h3>Advanced Search</h3>
<hr class="w-50"/>
<form method="post" class="w-100 mt-4">
    <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
            <label for="title" class="fw-bold">Title</label>
            <input type="text" id="title" name="Title" class="form-control" asp-for="Title" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
            <label for="author" class="fw-bold">Authors</label>
            @Html.DropDownListFor(m => m.Authors, new MultiSelectList(_metadataDBContext.Authors.ToList(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_authors", id = "select_authors", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "" })
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
            <label for="publisher" class="fw-bold">Publisher</label>
            @Html.DropDownListFor(m => m.Publishers, new MultiSelectList(_metadataDBContext.Publishers.ToList(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_publishers", id = "select_publishers", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "" })
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8 col-lg-6 d-inline-flex justify-content-between">
        <div class="col-md-6 col-lg-4">
            <label for="publishedDateFrom" class="fw-bold">Published Date From</label>
            <input type="date" id="publishedDateFrom" name="PublishedDateFrom" class="form-control" asp-for="PublishedDateFrom" />
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="publishedDateTo" class="fw-bold">Published Date To</label>
            <input type="date" id="publishedDateTo" name="PublishedDateTo" class="form-control" asp-for="PublishedDateTo" />
        </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
            <label for="readStatus" class="fw-bold">Read Status</label>
            <select id="readStatus" name="ReadStatus" asp-for="ReadStatus" class="form-control form-select">
                <option value="">Select Status</option>
                <option value="1">Read</option>
                <option value="0">Unread</option>
            </select>
        </div>
    </div>

    <div class="row mb-3 w-100">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="tags" class="fw-bold">Tags</label>
                    @Html.DropDownListFor(m => m.Tags, new MultiSelectList(_metadataDBContext.Tags.ToList(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_tags", id = "select_tags", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-primary" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="series" class="fw-bold">Series</label>
                    @Html.DropDownListFor(m => m.Series, new MultiSelectList(_metadataDBContext.Series.ToList(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_series", id = "select_series", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-primary" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="shelves" class="fw-bold">Shelves</label>
                    @Html.DropDownListFor(m => m.Shelves, new MultiSelectList(await _shelfRepository.GetAllAsync(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_shelves", id = "select_shelves", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-primary" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="languages" class="fw-bold">Languages</label>
                    @Html.DropDownListFor(m => m.Languages, new MultiSelectList(_metadataDBContext.Languages.ToList(), "Id", "LangCode"), new { @class = "selectpicker form-control", name = "select_langs", id = "select_langs", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="tags" class="fw-bold">Exclude Tags</label>
                    @Html.DropDownListFor(m => m.ExcludeTags, new MultiSelectList(_metadataDBContext.Tags.ToList(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_excludetags", id = "select_excludetags", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="series" class="fw-bold">Exclude Series</label>
                    @Html.DropDownListFor(m => m.ExcludeSeries, new MultiSelectList(_metadataDBContext.Series.ToList(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_excludeseries", id = "select_excludeseries", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="shelves" class="fw-bold">Exclude Shelves</label>
                    @Html.DropDownListFor(m => m.ExcludeShelves, new MultiSelectList(await _shelfRepository.GetAllAsync(), "Id", "Name"), new { @class = "selectpicker form-control", name = "select_excludeshelves", id = "select_excludeshelves", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-6">
                    <label for="languages" class="fw-bold">Exclude Languages</label>
                    @Html.DropDownListFor(m => m.ExcludeLanguages, new MultiSelectList(_metadataDBContext.Languages.ToList(), "Id", "LangCode"), new { @class = "selectpicker form-control", name = "select_excludelangs", id = "select_excludelangs", data_actions_box = "true", data_live_search = "true", data_dropup_auto = "false", multiple = "", data_style = "btn-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-lg-6 col-xl-6 d-inline-flex justify-content-between">
        <div class="col-md-6 col-lg-4 col-xl-6 align-content-center">
            <label for="ratingAbove" class="fw-bold">Rating Above</label>
            @await Component.InvokeAsync(typeof(RatingComponent), new { RatingValue = 0, id = 1, prefix = "RatingAbove", isDisabled = false })
            <input type="hidden" id="ratingAboveValue" name="RatingAbove" asp-for="RatingAbove" />
        </div>
        <div class="col-md-6 col-lg-4 col-xl-6 align-content-center">
            <label for="ratingBelow" class="fw-bold">Rating Below</label>
            @await Component.InvokeAsync(typeof(RatingComponent), new { RatingValue = 0, id = 2, prefix = "RatingBelow", isDisabled = false })
            <input type="hidden" id="ratingBelowValue" name="RatingBelow" asp-for="RatingBelow" />
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-6 col-lg-4">
            <label for="description" class="fw-bold">Description</label>
            <input type="text" id="description" name="Description" class="form-control" asp-for="Description" />
        </div>
    </div>

    <button type="submit" class="ms-2 col-md-2 col-lg-1 mt-2 btn btn-primary">Search</button>
</form>

@section Scripts {
    <script>
    document.addEventListener("DOMContentLoaded", function () {
            const ratingAboveStarRating = document.querySelector('#RatingAbovestarRating1');
            const ratingBelowStarRating = document.querySelector('#RatingBelowstarRating2');

            ratingAboveStarRating.addEventListener('change', function (e) {
                document.getElementById('ratingAboveValue').value = e.target.value;
            });

            ratingBelowStarRating.addEventListener('change', function (e) {
                document.getElementById('ratingBelowValue').value = e.target.value;
            });

        });
</script>
}
