@using CalibreLib.Models
@model BookCardModel

<!-- Modal -->
@{
    var id = "bookDetailModalCenter" + Model.id;
    var titleid = "bookDetailModalLongTitle" + Model.id;
    var successDiv = "SuccessDiv" + Model.id;
    var errorDiv = "ErrorDiv" + Model.id;
}

<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" aria-labelledby="@titleid" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="@titleid">Book Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="@successDiv" class="bg-success text-wrap visually-hidden p-3 mb-2 text-white" style="--bs-bg-opacity: .5;"></div>
          <div id="@errorDiv" class="bg-danger text-wrap visually-hidden p-3 mb-2 text-white" style="--bs-bg-opacity: .5;"></div>
          @await Html.PartialAsync("/Views/Shared/Components/BookDetailPartial.cshtml", Model)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#@id').on('hide.bs.modal', function (e) {
        $('#@successDiv').addClass('visually-hidden');
        $('#@errorDiv').addClass('visually-hidden');
    })    
</script>