@model BookCardModel

<style>
    

    .link-primary {
        text-decoration: none !important;    
    }

    .link-primary:hover {
        text-decoration: underline;
    }
</style>

@{
    var targetid = "#bookDetailModalCenter" + Model.id;
}
<div class="card" style="max-width:200px;min-width:200px;">
    <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="@targetid">
        <img src="@Model.CoverImage" class="card-img-top" style="width:100%;height:225px;border:lightgray 1px solid;" alt="@Model.title">
    </button>
    <div class="card-body">
        <p class="text-center card-title">
            @{ ViewContext.Writer.WriteLine(@Model.BookHTML); }
        </p>
        <p class="text-center card-subtitle fst-italic flex-wrap">
            @{ ViewContext.Writer.WriteLine(@Model.AuthorsHTML); }
        </p>
        <p class="text-center card-subtitle fst-italic flex-wrap">
            @{ ViewContext.Writer.WriteLine(@Model.SeriesHTML); }
        </p>
        @await Html.PartialAsync("~/Views/Shared/Components/RatingPartial.cshtml", Model)
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/Components/BookDetailPopup.cshtml",Model)